<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-t-50 p-t-50 p-b-90">
      <form [formGroup]="rform" class="login100-form validate-form flex-sb flex-w"
           (ngSubmit)="onSignin(rform)">
       <span class="login100-form-title p-b-51">
          {{"login.forgotpass" | translate }}
       </span>

        <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
          <input class="input100" 
                 id="inputEmail"
                 type="text" 
                 name="name" 
                 formControlName="name"
                 placeholder=' {{"login.username" | translate }}'
                 required autofocus>
          <span class="focus-input100"></span>
        </div>

       

        <div class="container-login100-form-btn m-t-17">
          <button  [disabled]= "!rform.valid"
                  type="submit" 
                  class="login100-form-btn">
                  {{"login.signin" | translate }}
          </button>
        </div>
        
      </form>
    </div>
  </div>
</div>  
